html, body{
	height:100%!important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
}
.banner_side{
    padding-right: 0
}
.home_banner{
    margin-bottom: 25px;
}
.right_side{
    background: #8a734a;
    padding: 10px;
}
.right_side .card {
    background: #eee;
}
.presentation{
    background-color: #000000;
}
.form_heading{
    color: #040404;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1rem;
}
.form-control{
    border: 1px solid #040404;
}
.form-control:focus {
    color: #040404;
    background-color: #fff;
    border-color: #040404;
    outline: 0;
    box-shadow: none;
}
.order-md-1#ppt_section{
    padding-right: 0px;
}
.order-md-2#video_section{
    padding-right: 5px;
}
/*.theme_button,.theme_button:hover {
    color: #fff;
    background-color: #8a734a;
    border-color: #8a734a;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #003576;
    border-color: #003576;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}*/
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle,
.theme_button {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 1.5px;
    background: #ea5725;
    color: #ffffff;
    font-weight: bolder;
    border: none;
    border-bottom: 3px solid #680502;
    border-radius: 8px;
}
.theme_button:hover, .theme_button:focus, .theme_button:active {
    background: #6e090c;
    color: #ffffff;
    font-weight: bolder;
    border: none;
    border-bottom: 3px solid #680502;
}

.divider{
    border: 1px dashed #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}
.title{
    color: #8a734a;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}
.event_detail{
    color: #8a734a;
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}
.event_schedule{
    padding: 0;
    margin-top: -8px;
}
.event_schedule li {
    display: inline-block;
}
.event_schedule i {
    transform: translateY(4px);
}
li.event_time {
    margin-left: 20px;
}
.event_schedule span {
    margin-left: 5px;
    font-size: 1.2rem;
    color: #8a734a;
    font-weight: bold;
}
.event_write_date,.event_write_time {
    vertical-align: middle;
}

.video-container {
    margin-top: 5px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 5px;
    height: 0;
    overflow: hidden;
}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.presentation_container{
    margin-top: 5px;
}
#video_section{
    padding-right: 0px;
}
.question_container,.pre_question_container{
    background-color: #515151;
    display: block;
    padding: 10px;
}
.questionbox{
    margin-bottom: 5px;
    background: #3e3e40;
    color: white;
    border: 1px solid #fff;
    padding-left: 16px;
}
.pre_question_container{
    margin-top: 5px;
}
.question_heading{
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
}
.pre_question_container{
    display: none;
}
fieldset{
    border-color: #8a734a;
}
legend{
    color: #8a734a;
    font-weight: bold;
    font-size: 22px;
}
#swap-icon-img{
    position: absolute;
    left: 31%;
    top: 179px;
    z-index: 2;
    cursor: pointer;
}

.presentation .col-md-12,.presentation .col-md-4,.presentation .col-md-8{
    padding-right: 5px;
    padding-left: 5px;
}
.notification{
    background: #333333;
    height: 27px;
    margin-top: 5px;
    color: #fff;
}
.logoutbtn {
    margin: unset;
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: small;
    padding: 0 10px;
    height: auto;
}
#dot {
    position: absolute;
    top: 0;
}
@media screen and (max-width: 548px) {
    .logoutbtn {
        top: 8px;
    }
}
@media screen and (max-width: 767px) {
    .pre_question_container{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .question_container{
        display: none;
    }
    .banner_side{
        padding-right: 15px;
    }
    .event_info{
        margin-bottom: 40px;
    }
    #swap-icon-img{
        display: none;
    }
    #video_section {
        padding-right: 5px;
    }
    .presentation_container {
        margin-top: 0px;
    }
}

.fix-length {
    display: block;
    text-overflow: ellipsis;
    width: 15rem;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word
}
.max-length {
    display: block;
    text-overflow: ellipsis;
    width: auto;
    overflow: hidden;
    white-space: pre;
}
.pre {
    overflow: hidden;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word !important;
    word-break: break-word !important;
}


/**
Chat Css Start
 */
.input_msg_write input, .input_msg_write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #a40d06;
    color: #000000;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    outline-color: #a40d06;
    padding: 0.75rem;
}
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    background: #a40d06;
    border: medium none;
    border-radius: 50%;
    color: #f7f5f5e0;
    cursor: pointer;
    font-size: 1rem;
    height: 2.25rem;
    width: 2.25rem;
    position: absolute;
    right: .35rem;
    top: .35rem;
}
.chat_msg {
    height: 50vh;
    overflow-y: auto;

    background: #000;
    color: #fff !important;
    border-radius: 5px;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=- Chat -=-=-=-=-=-=-=-=-=-=-=-=- */
.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}
.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}
.comments-list {
    word-break: break-all;
    position: relative;
    height: auto;
    overflow: auto;
    border-radius: 5px;
    /*background: #69686d9f;*/
    padding: 0.35rem !important;
}
.comments-list li {
    margin-bottom: .5rem;
    display: block;
    position: relative;
}
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}
.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}
.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}
.comments-list .comment-box {
    margin-bottom: 10px;
    width: 100%;
    float: right;
    position: relative;
}
.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background-color: #ff8400;
    padding: 0 0 0 12px;
    border-bottom: 2px solid #000;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #84879c;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.comment-box .comment-head i:hover {
    color: #ff661a;
}
.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}
.comment-box .comment-name a {
    color: #ffaa05;
}
.comment-box .comment-head span {
    /*float: left;*/
    color: #f2f2f2;
    font-size: 13px;
    position: relative;
    /*top: 1px;*/
    padding: 0 0 0 5px !important;
}
.comment-box .comment-content {
    padding: 12px;
    font-size: 15px;
    color: #f2f2f2;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.comment-box .comment-content-replay {
    word-break: break-all;
    font-size: 12px;
    color: #201a16;
    font-weight: bolder;
}
.comment-replay {
    float: right !important;
    text-align: right !important;
    text-align: -moz-right !important;
    text-align: -webkit-right !important;
}
.comment-replay label {
    color: #f2f2f2;
    font-weight: normal;
    margin: 0;
}
.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
    color: #f2f2f2;
    font-weight: bolder;
    font-size: 15px;
    margin: 8px 0 !important;
}
/**
Chat CSS END
 */


/* wave dote */
.wave-a {
    position: absolute;
}
.wave {
    width: 10px;
    height: 10px;
    border: 5px solid #fffdfd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #000;
    z-index: 10;
    position: absolute;
}
.dot {
    border: 10px solid #fffdfd;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: wave 3s ease-out;
    -moz-animation: wave 3s ease-out;
    animation: wave 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    opacity: 0;
}
@keyframes wave {
    0% {
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        transform: scale(0.1);
        -moz-transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.5);
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}
@-moz-keyframes wave {
    0% {
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        transform: scale(0.1);
        -moz-transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.5);
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}
@-webkit-keyframes wave {
    0% {
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        transform: scale(0.1);
        -moz-transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.5);
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

/* rotet screen */
#warning-message {
    display: none;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2000;
    background: rgba(255,255,255,1);
    height: 100vh;
}
@media only screen and (orientation: portrait) {
    #warning-message {
        display: block;
    }
}
@media only screen and (orientation: landscape) {
    #warning-message {
        display: none;
    }
}

::-webkit-scrollbar-thumb {
    background-color: #939194;
    border: 2px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}
::-webkit-scrollbar {
    width: .65rem;
}