body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #0068a9;
}
.bg-grey{
	background: #dcdcdc;
}
.no-margin{
	margin: 0 !important;
}
.no-margin-bottom{
	margin-bottom: 0px !important;
}
.no-margin-top{
	margin-top: 0px !important;
}
.border {
	border: 5px solid #fff;
}

.border-left {
	border-left: 5px solid #fff;
}

.border-right {
	border-right: 5px solid #fff;
}

.border-top {
	border-top: 5px solid #fff;
}

.help-block {
	font-size:12px;}

a.image_delete_link {
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 0 0 0 14px;
	padding: 4px 3px 3px 4px;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

a.image_delete_link img {
	cursor: pointer;
}

a.active_slide img {
	border: 2px solid #009966;
}

.submit_success {
	display: none;
}

.powered_text {
	/* margin-right: 10px;*/
	padding-top: 2px; 
}

.powered_text a{
	color: #0068a9;
	text-decoration: none;
}

.powered_text a:hover{
	text-decoration: none;
}

.powered_inner_text {
	position: absolute;
	bottom: 10px;
	right: 0px;
}
/* Wrapper for page content to push down footer */
#wrap {
	/* min-height: 100%; */
	height: auto;
	/* margin: 0 auto -141px;
	padding: 0 0 141px; */
	margin: 0;
	padding: 0;
}

/* Set the fixed height of the footer here */
#footer {
	height: auto;
}

.home_login_left {
	display: inline-block;
}

.home_login_right {
	display: inline-block;
	vertical-align: bottom;
}

.jumbotron {
	margin-bottom: 0px;
	/* padding: 20px 20px 0px 20px !important; */
	padding: 5px !important;
}

.header {
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.header .inline {
	display: inline-block;
}

.header2 {
	text-align: center;
	background: #4ba6c0;
	margin: 5px 0px;
	border: 1px solid #38a4c2;
}

.header2 .inline {
	display: inline-block;
	font-size: 20px;
	/* background: #FFFFFF; */
	font-weight: bold;
	padding: 0px 20px;
	color: #fff;
}

.login_div {
	width: 420px;
	/*float: right;
	margin-top: 210px;*/
    padding: 0 15px 0 0;
    /*position: relative;
	top: 32px; */
}

.login_div h3 {
	margin-top: 0px;
}

.details_div {
	text-align: center;
	/*width: 500px;*/
	/*float: left;*/
}

.details_inner {
	background: #4ba6c0;
	padding: 20px;
	border-radius: 6px;
	margin: 0 auto;
	width: 450px;
}

.details_inner .item {
	font-size: 17px;
	text-align: left;
}

.details_inner .item .label1 {
	color: #fff;
	font-style: normal;
	display: inline-block;
	width: 80px;
	font-weight: bold;
}

.details_inner .item .value {
	display: inline-block;
}

#footer .footer_inner {
	text-align: center;
	padding-bottom: 0px;
}

#footer .footer_inner .inline {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 20px;
}

#myElement {
	margin: 0 auto;
	max-width: 640px !important;
	width: 100%;
}

#myElement_wrapper {
	margin: 0 auto;
}

.jumbotron{
	background-color: rgba(0, 76, 108, 0.72);
}

.form-horizontal .control-label{
	color: #fff;
}

.form-control{
	height: 35px;
}

.form-control:focus{
	border-color: #0c718e;	
}

.main-section,
.presentation-main-section{
	/* width: 962px; */
	margin: 15px auto 0;
	background: #fff;
	padding: 0 0 10px 0;
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.main-section{
	width: 962px;	
}

.presentation-main-section{
	width: 1000px;
}

/******** Presentation Page CSS *********/

#video-ppt-section .row{
	position: relative;
}

.presentation-main-section .header-img{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.presentation-main-section .video-section{
	width: 370px;
	float: left;
	/* position: relative; */
}

.presentation-main-section .ppt-section{
	width: 630px;
	float: left;
	/* position: relative; */
}

.presentation-main-section .comments_form_div{
	overflow: auto;
	margin-top: 215px;
	margin-left: 5px;
	/* margin: 10px 15px 0; */
}

.presentation-main-section #query_form legend{
	margin-bottom: 5px;
    text-align: center;
	font-size: 16px;
    font-weight: 700;
}

#query_form textarea{
	/*height: 76px;*/
	height: 145px;
}

.presentation-main-section .comments_form_div .well{
	padding: 5px 19px 10px;
	margin-bottom: 0px;
    border-radius: 0px;
}

#swap-icon-img{
	position: absolute;
    left: 324px;
	top: 5px;
    z-index: 2;
	cursor: pointer;
}

.swap-video-left,
.swap-ppt-left{
	position: absolute;
	left: 0px;
	width: 370px;
	padding-top: 5px;
	padding-left: 5px;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.swap-video-right,
.swap-ppt-right{
	position: absolute;
	right: 0px;
	width: 625px;
	padding-top: 5px;
	padding-right: 5px;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

#lbldata{
	font-size:small;
	color: #fff;
}

#success_msg{
	color: green;
	text-align: center;
}

#error_msg {
    color: red;
	text-align: center;
}

#dot{
	position: absolute;
    top: 0;
}

/******** End Presentation Page CSS *********/

.color-white{
	color: #fff;
}

.color-black{
	color: #2c3e50;
}

/*.bg-theme{*/
	/*background: #4ba6c0;*/
/*}*/

.pd-0{
	padding: 0px;
}

.pdlr-5{
	padding-left: 5px;
	padding-right: 5px;
}

.mr-0{
	margin: 0px;
}

.btn-theme{
	color: #ffffff;
    background-color: #037090;
	padding: 5px 15px;
}

.form-input{
	width: 85px;
	float: left;
}

.login_div .form-horizontal .form-group{
	margin-bottom: 8px;	
}

/******************** Material  Dessign CSS **********************/
#top-bar .container{
	background: #fff;
	text-align: center;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
}

.submit_btn_add, .submit_btn_add:hover, .submit_btn_add:active, .submit_btn_add:focus {
	background-color: #dcdcdc;
	color: rgb(214, 40, 41);
}

.home_page .container{
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.26);
}
.home_page .main-content .row .col {
	padding: 0 !important;
}
.user_form_wrapper form {
	width: 80%;
	/* width: 38%; */
	margin: 0 auto;
}
.banner_wrapper{
	font-size: 0px;
}
.presentation_page #top-bar{
	background: #fff;
	text-align: center;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
}
.presentation_page .content {
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2px;
	overflow: hidden;
	z-index: 9;
	padding: 1rem;
}
.presentation_page .video-section{
	position: relative;
}
.presentation_page .form-title{
	text-align: left;
	font-weight: 600;
	font-size: 14px;
}
.presentation_page .help-block{
	font-size: 14px;
	font-weight: 500;
}
.presentation_page .label-warning{
	background-color: #f39c12;
	padding: 3px;
	font-size: 12px;
	color: #fff;
	border-radius: 4px;
}

#media {
	height: 285px;
}

/******************** end Material  Dessign CSS **********************/

@media only screen and (max-width: 1024px) {
    #media {
		height: 200px;
	}
}

@media screen and (max-width: 1000px) {
	/* .details_div{width: 100%; padding: 0px 10px; max-width: 600px; float: none; margin: 0 auto;}
    .details_inner{width: 100%;}
    .login_div{width: 100%; padding: 0px 10px; max-width: 600px; float: none; margin: 0 auto 30px;} */
}

@media screen and (max-width: 660px) {
	/* .layout_change_div img {
		width: 25px;
		padding: 2px;
	}
	.home_login_left {
		display: none;
	} */
	/* .details_inner .item .label1 {
		display: block;
		width: 100%;
	}
	.details_inner .item .value {
		display: block;
		width: 100%;
	} */
}

@media screen and (max-width: 479px) {
	/* .header .inline {
		display: block;
	} */
}

/*************************  Login tabs  *****************************/
/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	margin-bottom: 20px;
}
.parent_tab{
	width: 80%;
	margin: 0 auto;
}