.navbar-inverse {
    background-color: #303F9F;
    border-color: #303F9F;
}

.header-highlight .navbar-header:not([class*=bg-]){
    background-color: #303F9F;
}

.sidebar{
	background-color: #303F9F;
}

.navigation>li.active>a, .navigation>li.active>a:hover, .navigation>li.active>a:focus {
    background-color: #3F51B5;
}

.checker span {
    color: #3F51B5;
    border: 2px solid #7986CB;
}

#slide_cont{
	clear: both;
    position: relative;
}

#slide_cont #cursor_image{
	position: absolute;
    top: 0;
	/* z-index: 1000; */
}

.cursor_image_section .select_cursor_image{
	cursor: pointer;
}

/* .cursor_image_section .select_cursor_image.active{ */
.cursor_image_section span.active{ 
	outline-style: solid;
    outline-color: #303F9F;
    outline-width: 2px;
}

.video_slide_pagination {
    text-align: center;
    margin: 10px 0 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    /* white-space: nowrap; */
}

.video_slide_pagination .pagination {
    display: inline-flex;
}

.video_slide_pagination .pagination>.active>a, 
.video_slide_pagination .pagination>.active>span, 
.video_slide_pagination .pagination>.active>a:hover,
 .video_slide_pagination .pagination>.active>span:hover, 
 .video_slide_pagination .pagination>.active>a:focus, 
 .video_slide_pagination .pagination>.active>span:focus{
	background-color: #303f9f;
    border-color: #303f9f;
}

@media (min-width: 769px){
	.sidebar-xs .header-highlight .navbar-header {
		height: 66px;
	}
	
	.sidebar-xs .header-highlight .navbar-header .navbar-brand {
		background: url(../../../assets/images/white_favicon.png) no-repeat center center;
		width: 100%;
    	height: 100%;
	}
}

#cursor-container span {border: 1px solid #ddd;}

#cursor-container span:first-child img{
	background: url(../../../assets/images/no-cursor.png) no-repeat center center;
	border: 1px solid;
	background-size: cover;
}

.default-none-slide{
	width: 61px;
    float: left;
    height: 31px;
    margin-top: 7px;
    cursor: pointer;
    color: white;
    border: 1px solid #000;
}

.float-right {
    float: right;
}

#load_images{ 
	background-color: #000000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	cursor: wait;
}

#loading {
	top: 50%;
	left: 50%;
	position: absolute;
	cursor: wait;
	margin:-40px 0 0 -40px;
}
/** slide image thiumb admin **/
.video_slide_thumb {
	height: 300px;
	overflow: auto;
}
.video_slide_thumb .img-thumbnail {
	max-width:150px;
	margin-left:5px;
	margin-top:15px;
	cursor: pointer;
}

.video_slide_thumb .thumb-box {
	position: relative;
	display: inline-block;
}

.video_slide_thumb span {
	position: absolute;
	top: 2px;
	left: 5px;
	font-weight: bold;
}
/** end slide image thiumb admin **/